﻿@using IBS.NetCoreProto.Modules.Request.VehicleList.ViewModels
@model IEnumerable<VehicleViewModel>

<div class="text-center">
    <h3 class="display-4" align="left">Vehicles:</h3>
    @foreach (var item in Model)
    {
        <p align="left">
            <b>Id:</b> @item.Id<br/>
            <b>Vendor:</b> @item.Vendor<br/>
            <b>Model:</b> @item.Model<br/>
            <b>Plate number:</b> @item.PlateNumber<br/>
        </p>
    }
</div>
