﻿@model IEnumerable<IBS.NetCoreProto.Infrastructure.WebLogic.IoC.INetCoreProtoModule>
@{
    ViewBag.Title = "Загруженные модули";
}


@if (Model != null)
{
<h2>Загруженные модули</h2>

    foreach (var module in Model)
    {
        <p>
            @module.FullName
        </p>
    }
}
else
{
    <h2>Нет загруженных модулей</h2>
}
