﻿@model RequestViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" align="left">Request Details (view)</h2>

        <p align="left">
            <b>Id:</b> @Model.Id<br />
            <b>Name:</b> @Model.Name<br />
            <b>Processed:</b> @Model.Processed
        </p>

        @await Component.InvokeAsync("VehicleList", new { requestId = Model.Id })
</div>
