﻿@using IBS.NetCoreProto.FrontEnd.ConfigurableViewComponent.ViewModels
@model IBS.NetCoreProto.FrontEnd.ConfigurableViewComponent.ViewModels.ConfigurableModel
<h1>Hello from MainPage!</h1>
<p>@Html.DisplayNameFor(model => model.ModelText)</p>
<p>@Html.DisplayNameFor(model => model.TextFromService)</p>
